.field .control input.dropdown-input-required {
    padding: 0;
    margin: 0;
    border-width: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    color: transparent;
    background-color: transparent;
}

.dropdown-menu .dropdown-content input.search-items {
    margin: 5px
}