.datetimepicker.is-link .datepicker-body .datepicker-months .datepicker-month.is-active,
.datetimepicker.is-link .datepicker-body .datepicker-months .datepicker-year.is-active,
.datetimepicker.is-link .datepicker-body .datepicker-years .datepicker-month.is-active,
.datetimepicker.is-link .datepicker-body .datepicker-years .datepicker-year.is-active {
    background: #475ec6;
    border-color: #475ec6;
}
.datetimepicker.is-link .datepicker-body .datepicker-months .datepicker-month:hover,
.datetimepicker.is-link .datepicker-body .datepicker-months .datepicker-year:hover,
.datetimepicker.is-link .datepicker-body .datepicker-years .datepicker-month:hover,
.datetimepicker.is-link .datepicker-body .datepicker-years .datepicker-year:hover {
    border-color: #475ec6;
    background-color: #fff;
}

.datetimepicker.is-link {
    max-width: inherit;
}