.switch-container {
    width: fit-content;
}

.switch[type="checkbox"]+label::after,
.switch[type="checkbox"]+label:after {
    top: 0.25rem;
    width: 1rem;
    height: 1rem;
}

.switch[type=checkbox]:checked+label::after {
    left: 1.625rem;
}