.navbar.is-white .navbar-end .navbar-link.is-active,
.navbar.is-white .navbar-end>a.navbar-item.is-active,
.navbar.is-white .navbar-start .navbar-link.is-active,
.navbar.is-white .navbar-start>a.navbar-item.is-active,
.navbar.is-white .navbar-start .navbar-item.has-dropdown>a.navbar-item.is-active,
.navbar.is-white .navbar-brand .navbar-link.is-active,
.navbar.is-white .navbar-brand>a.navbar-item.is-active {
    background-color: #dfdfdf;
}

.navbar.is-white .navbar-start .navbar-item.has-dropdown .navbar-dropdown>.navbar-item.is-active {
    background-color: #d5d5d5;
}

.navbar-dropdown.is-active {
    display: block;
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown a.navbar-item .icon-text {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1023px) {

    .navbar-link:not(.is-arrowless):after,
    .select:not(.is-multiple):not(.is-loading):after {
        display: none;
    }
}