name: Release Drafter

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - master

  # pull_request event is required only for autolabeler
  pull_request:
    # Only following types are handled by the action, but one can default to all as well
    types: [opened, reopened, synchronize]
    branches:
      master
  workflow_dispatch: 
    inputs:
      milestone_version:
        description: Enter milestone title
        required: true
        type: string
      publish:
        description: Publish the release 
        default: 'No'
        options:
          - 'Yes'
          - 'No'
        required: false
        type: choice

jobs:
  generate_release_draft:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    if: github.event_name == 'neel'
    steps:
      - name: Experiment release draft with cli
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
              --draft --latest \
              --repo="${{ github.repository }}" \
              --title="v0.2.0" \
              --generate-notes



  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      # (Optional) GitHub Enterprise requires GHE_HOST variable set
      #- name: Set GHE_HOST
      #  run: |
      #    echo "GHE_HOST=${GITHUB_SERVER_URL##https:\/\/}" >> $GITHUB_ENV

      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v6
        # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
        with:
          publish: ${{ github.event.inputs.publish == 'Yes' }}
          latest: true
          version: ${{ github.event.inputs.milestone_version || github.event.pull_request.milestone.title }}
        #   disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MILESTONE_TITLE: ${{ github.event.inputs.milestone_version || github.event.pull_request.milestone.title }}